@import "../../variables.scss";

.nav{
    padding: 35px 0px;
}
.list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.item{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid $light-color;
    color: $light-color;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    transition: .7s;
    &.active{
        color: $dark-color;
        background-color: $light-color;
    }
}

@media screen and (max-width: 470px) {
    .nav{
        padding: 35px 10px;
    }
}

@media screen and (max-width: 550px) {
    .list{
        justify-content: space-between;
    }
}

@media screen and (max-width: 550px) {
    .list{
        gap: 0px;
    }
}
@media screen and (max-width: 390px) {
    .item{
        width: 100px;
        height: 40px;
        font-size: 14px;
    }
}
@media screen and (max-width: 340px) {
    .item{
        width: 90px;
    }
}