.btn {
    display: inline-block;
    text-align: center;
    user-select: none;
    position: relative;
    cursor: pointer;

    &:focus:after {
        content: '';
        display: block;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        outline: none;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px dashed #eee;
        border-radius: 5px;
    }
}