@import '../../variables.scss';

.item{
    width: 400px;
}

.title{
    color: $bright-color2;
    margin-bottom: 10px;
}
.text{
    font-size: 18px;
    line-height: 180%;
    text-align: justify;
    margin-bottom: 30px;
}
.github{
    font-size: 14px;
}

@media screen and (max-width: 1240px) {
    .item{
        width: 100%;
        padding: 60px 40px 0px;
        // padding-left: 20px;
    }
}

@media screen and (max-width: 430px) {
    .item{
        padding: 40px 10px 0px;
    }
    
    .title{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .text{
        font-size: 14px;
        line-height: 160%;
        text-align: justify;
        margin-bottom: 25px;
    }
    .github{
        font-size: 12px;
    }
}