.btn {
    width: 80px;
    height: 80px;
    position: relative;
    cursor: pointer;

}

.border {
    width: 100%;
    height: 100%;
    border: 3px dashed #fff;
    border-radius: 50%;

    &:hover {
        animation: rotateBorder 30s linear infinite;
    }
}

.arrow {
    position: absolute;
    top: 25px;
    left: 27px;
    transform: rotate(0deg);
    animation: moveDown 3s infinite;
}

@keyframes rotateBorder {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes moveDown {
    0% {
        top: 25px;
    }

    50% {
        top: 32px;
    }

    100% {
        top: 25px;
    }
}

@media screen and (max-width: 900px) {
    .btn {
        width: 60px;
        height: 60px;
    }
    .arrow {
        top: 15px;
        left: 17px;
    }
    @keyframes moveDown {
        0% {
            top: 15px;
        }
    
        50% {
            top: 22px;
        }
    
        100% {
            top: 15px;
        }
    }
}