@import '../../variables.scss';

.item {
    // background: conic-gradient(from var(--angle), $light-color, $bright-color1);
    background: linear-gradient(var(--angle), $light-color, $bright-color1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    animation: 5s rotate linear infinite;
}

.img {
    border-radius: 40px;
}

.slider {
    position: relative;
    cursor: pointer;

    &:hover .icon {
        opacity: 1;
    }
}

.icon {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    opacity: 0;
    transition: .7s;
}

.arrow {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    translate: 0% -50%;
    opacity: 1;
    transition: .7s;

    &.left {
        left: 7px;
    }

    &.right {
        right: 7px;
    }
    &:hover{
        background-color: rgba(255, 255, 255, 1);        
    }
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

@media screen and (max-width: 640px) {
    .item {
        border-radius: 20px;
    }
    .img {
        border-radius: 20px;
    }
}

@media screen and (max-width: 640px) {
    .icon {
        width: 55px;
        height: 55px;
    }
}

@media screen and (max-width: 430px) {
    .icon {
        width: 40px;
        height: 40px;
    }
}