@import '../../variables.scss';

.main {
    padding: 100px 0px 130px;
}
.content{
    display: flex;
    justify-content: space-between;
}
.title{
    // color: $bright-color1;
    margin-bottom: 70px;
}

// .title{
//     display: inline-block;
//     margin-bottom: 70px;
//     position: relative;
//     &::after{
//         content: '';
//         background-color: $bright-color2;
//         position: absolute;
//         left: 0;
//         bottom: -10px;
//         height: 2px;
//         width: 100%;
//     }
//     // text-align: center;
// }


