/////// Цвета //////////

// Темный
$dark-color: #030303;

// Светлый
$light-color: #F1F1F1;

// Яркий 1
$bright-color1: #DF9F1F;
// Яркий 1 hover
$bright-color1-hover: #ffaa01;

// Яркий 2
$bright-color2: #793AFF;

// Бледный
$wan-color: #EECD8A;

/////////////////////////