@import '../../variables.scss';

.img {
    background: linear-gradient(var(--angle), $light-color, $bright-color1);
    border-radius: 10px;
    margin-bottom: 10px;

    &.active {
        border: 3px solid $bright-color2;
    }
}