.section{
    height: 100vh;
}
.projectsCardList{
    padding-top: 120px;
}

@media screen and (max-width: 989px) {
    .projectsCardList{
        padding-top: 100px;
    }
}
@media screen and (max-width: 619px) {
    .projectsCardList{
        padding-top: 30px;
    }
}